{% extends "base.html" %}

{% block title %} About {% endblock %}


{% block main %}

<div class="container">
  <div class="row">
    <div class="column">
      <h3> About </h3>
      <p align="justify">
        Das German Tutor tries to teach you German through conversational chat. <br>
        This project uses GPT3 language model. <br>
        This is a fun little project to test integration of Flask, Python and vercel
        <br>
       Source code: <a href="https://github.com/chmodsss/flask-tester">Github</a> <br>
       Developed by <a href="https://chmodsss.github.io"><i>Sivasurya Santhanam</i></a> <br>
      </p>
      <img style="max-width: 300px; height: auto;" src="static/img/german_tutor.png" alt="Das German Tutor" >
    </div>
  </div>
</div>

{% endblock %}
